
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: rgb(9, 8, 8);
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1,h2,h3, p {
  color: white;
}

h1,h2,h3 {
  font-family: 'Monoton', cursive;
  font-weight: 800;
}


a:link,
a:visited {
  color: white;
}

a:hover {
  color: purple;
  text-decoration: none;
}

h1 {
  font-size: clamp(35px, 4vw, 80px);
  display: flex;
  justify-content: center;
}

h2 {
  font-size: clamp(30px, 4vw, 50px);
}

p {
  font-family: 'Space Mono', monospace;
  font-size: clamp(17px, 4vw, 23px);
}

main, section, footer {
  width: 90%;
  margin: 0 auto;
}

section.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.container figure {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

section.container div {
  width: 30%;
}

section.container figure {
  width: 300px;
}

section.container figure img {
  width: 100%;
  transition: transform .5s ease-in-out
}

section.container figure img:hover {
  transform: scale(1.3);
  filter:drop-shadow(10px 10px 30px rgba(255, 255, 255, 0.32));
}

section.container figure summary {
  cursor: pointer;
}

@media (max-width: 768px) {
  section.container {
    flex-direction: column;
  }
}

section.container div {
  width: 100%;
  margin-bottom: 130px;
}

section.container figure img:hover {
  transform: scale(1);
}


footer {
  display: flex;
  justify-content: center;
}